{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Products</h5>
        </div>
        <div class="card card-body text-center">
            <table class="table">
              <a href="{% url 'addProduct'%}" class="btn btn-primary btn-sm btn-block">Add Products</a>
                <tr>
                    <th>Products</th>
                    <th>Category</th>
                    <th>Buy Price</th>
                    <th>Sell Price</th>
                </tr>

                {% for i in products %}
                <tr>
                  <td>{{i.name}}</td>
                  <td>{{i.tags}}</td>
                  <td>{{i.buy_Price}}</td>
                  <td>{{i.sell_Price}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <br>
        <div class="card card-body">
            <h5>Product Tags</h5>
        </div>
        <div class="card card-body">
            <table class="table">
              <a href="{% url 'addTag'%}" class="btn btn-primary btn-sm btn-block">Add Tags</a>


                {% for i in tags %}
                <tr>
                  <th><ul><li>{{i.name}}</li></ul></th>

                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</div>

{% endblock %}
